*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alinhar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    height: 300px;
    width: 400px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}